.sgy
.docx
.obsidian

.idea/
*.iml
.vscode/
*.code-workspace

.streamlit/secrets.toml

.ipynb_checkpoints/
*.ipynb_checkpoints
__pycache__/
*.py[cod]
*$py.class
*.so

.venv/
venv/
ENV/
env/
.env
.flaskenv

build/
dist/
*.egg-info/
*.egg
.eggs/
*.whl

temp/
tmp/
*.bak
*.tmp